@mixin align-center($property: flex-direction, $value: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    #{$property}: $value;
}

@mixin align-side($property: flex-direction, $value: row) {
    display: flex;
    justify-content: flex-start;
    #{$property}: $value;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}  

@mixin button-style {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 4rem;
    background: white;
    cursor: pointer;
}