.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(180, 201, 165, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 0.8rem;
    position: relative;
    width: 70%;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
  }

  .close-button {
    display: inline;
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  